<!-- HTML for home page Component -->
<div class="home-container">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1> A Remarkable Student Body from All 50 States and 130 Countries</h1>
          <h2>George Mason Welcomes All Together Different
          </h2>
          <p>
            As Virginia’s largest public research university, George Mason University provides a college experience like no other. George Mason offers more than 200 undergraduate and graduate degrees and numerous minors and certificate programs
            to customize your education and meet your career and personal goals. George Mason's six-year graduation rate exceeds the national average, with no disparity based on ethnicity or economic status.</p>
          <h3><b>Thank you for visiting our page. We hope you enjoy exploring our campus and all that George Mason University has to offer.</b></h3>
        </div >
        <div class="col-4">
          <img src="../../assets/GMU.jpg" alt="College Name Picture" />
        </div>
      </div>
    </div>
  </div>
  
  