<div class="home-container">
    <div class="header">
      <h1>Welcome to the Campus Survey</h1>
      <p>
        <a routerLink="/home" class="btn btn-primary">Home</a>
        <a routerLink="/survey" class="btn btn-primary">Student Survey</a>
        <!--<button (click)="goToSurveyForm()">Go to Survey Form</button>-->
        <a routerLink="/surveys" class="btn btn-primary">List All Surveys</a>
      </p>
    </div>
  </div>
  <div class="app-body">
    <router-outlet></router-outlet>
  </div>
  